.review-items {
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 21px;
    display: flex;
}


.review-items img {
    width: 91px;
}

.review-item-details p {
    margin: 0;
}

.review-item-details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review-items .delete-container {
    display: flex;
    align-items: center;
}

.review-items .delete-button {
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;

}

.delete-icon {
    color: #EB5757;
    font-size: 27px;

}